<%- include ("../partials/header") %>
<%- include ("../partials/main_nav") %>

<div class="container">
    <div class="row">
        <div class ="offset-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="post">

                <div class="form-group">
                    <label for="taskTextField">Task Title</label>
                    <input type="text" class="form-control"
                    id="taskTextField"
                    placeholder="Enter the name of your task"
                    name="Task" required>

                </div>

                <div class="form-group">
                    <label for="dueTextField">Due Date</label>
                    <input type="text" class="form-control"
                    id="dueTextField"
                    placeholder="Enter the due date"
                    name="Due" required>
                    
                </div>

                <div class="form-group">
                    <label for="worthTextField">Year</label>
                    <input type="text" class="form-control"
                    id="worthTextField"
                    placeholder="Enter how much your assignment is worth"
                    name="Worth" required>
                    
                </div>
                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i>Submit</button>

                <a href ="/task-list" class="btn btn-warning">
                    <i class="fas fa-undo"></i>Cancel</a>

            </form>
        </div>
    </div>
</div>


<%- include ("../partials/bottom_nav") %>